@import 'tailwindcss';

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-black text-white;
  }
}

@layer components {
  .font-stencil {
    font-family: 'Black Ops One', cursive;
  }

  .font-mono-prime {
    font-family: 'Courier Prime', monospace;
  }
}

@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% - 3rem));
    }
  }

  .animate-marquee {
    @apply animate-[marquee_20s_linear_infinite];
  }
}
